body {

	background-image: url("../images/StarWars.jpg");

}

.characterBox {


		height: 10%;
		width: 10%;
		overflow: hidden;

}


.characterImage {

	height: 50px;
	width: 50px; 

}


.characterDefend {

	color: white;
	background-color: black;

}